<fieldset ng-model='Statistic'>
    <legend>Statistics</legend>
    <div style="font-size:large; font-weight:bold">
        Survey: {{survey.SurveyName}}
    </div>
    <table class="table table-striped" ng-repeat="question in survey.Questions">
        <thead>
            <tr style="column-span:all">
                <th>Question: {{question.QuestionName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="answer in question.Answers">
                <td ng-bind="answer"></td>
                <td ng-bind="question.Values[$index]"></td>
            </tr>
        </tbody>
    </table>
    <div class="btn btn-primary" ng-click="goToSurveys()">Go back to Surveys</div>
</fieldset>
